* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: white;
}

.left {
  flex: 1;
  background: #4C8F5A;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  position: relative;
}

.right {
  flex: 1;
  background: #4C8F5A;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 34%;
  height: 30%;
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  color: black;
}

.login-box label {
  display: block;
  font-size: 14px;
  margin-top: 10px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-bottom: 1px solid #aaa;
  outline: none;
}

.login-box button {
  width: 50%;
  padding: 12px;
  margin-top: 20px;
  background: #3c3c3c;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 25%;
  margin-left: 25%;
  margin-bottom: 20px;
}

.fundo-arredondado {
  position: absolute;
  top: 0;
  left: 0;
  width: 55vw;
  height: 100vh;
  background: linear-gradient(to bottom, #ffffff, #ffffff);
  border-bottom-right-radius: 100% 100%;
  z-index: 1;
}

.imagem-container {
  position: relative;
  z-index: 10;
}

.imagem-frente {
  width: 300px;
  height: auto;
}

.logo {
  position: relative;
  z-index: 10;
}

.logo img {
  float: right;
  margin-top: 15%;
  margin-bottom: 50%;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

#red-senha {
  margin-bottom: 50px;
}

b{
  font-size: 15px;
}
