* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: white;
}

.left {
  flex: 1;
  background: #4C8F5A;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  position: relative;
}

.right {
  flex: 1;
  background: #4C8F5A;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 45%;
  height: 38%;
  background: white;
  padding: 15px;
  border-radius: 12px;
  text-align: left;
  font-size: 85%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.login-box button {
  width: 50%;
  padding: 12px;
  margin-top: 20px;
  background: #3c3c3c;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 25%;
  margin-left: 25%;
  margin-bottom: 20px;
}

.logo img {
float: right; 
margin-top: 15%;
 margin-bottom: 50%;
  margin-left: 15%;
  margin-right: 10%;
   width: 80%;
}

.logos {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: relative;
  top: -25px;
  margin-left: 25%;
  margin-right: 38%;
}

.logos img {
  height: 40px;
}

.fundo-arredondado {
  position: absolute;
  top: 0;
  left: 0;
  width: 55vw;
  height: 100vh;
  background: linear-gradient(to bottom, #ffffff, #ffffff);
  border-bottom-right-radius: 100% 100%;
  z-index: 1;
}

<<<<<<< HEAD
=======
.imagem-container {
  position: relative;
  z-index: 10;
}

.imagem-frente {
  width: 300px;
  height: auto;
}

>>>>>>> 309b2712e6e492405e98ef026918ca475094c453
.logo {
  position: relative;
  z-index: 10;
}

.login-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  float: right;
}

<<<<<<< HEAD
.form-group {
     margin-bottom: 10px;
   }

   label {
     display: block;
     margin-bottom: 5px;
     font-weight: bold;
     margin-left: 20%;
     margin-right: 30%;
   }

   input[type="email"],
   input[type="password"] {
     width: 60%;
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 5px;
     margin-left: 20%;
     margin-right: 30%;
   }

   h2 {
   font-size: 150%;
   }
=======

.login-container h2 {
  margin-bottom: 20px;
  text-align: center;
}
>>>>>>> 309b2712e6e492405e98ef026918ca475094c453

.Escolha{
   border-bottom-left-radius:30px ; border-top-left-radius: 30px;width: 120%;margin: auto;
}

<<<<<<< HEAD
.Escolha1{
   border-radius: 30px; width: 120%;margin: auto;background-color: #4C8F5A;
   
}
.Box-Escolha{
  display: flex; padding: 1px; margin-left: 32%;
  
=======
.form-group {
  margin-bottom: 15px;
>>>>>>> 309b2712e6e492405e98ef026918ca475094c453
}


label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  margin-left: 20%;
  margin-right: 30%;
}


input[type="email"],
input[type="password"] {
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 20%;
  margin-right: 30%;
}


.form-check {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}


.form-check input {
  margin-right: 5px;
}


button {
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}


button:hover {
  background-color: #0056b3;
}