table {
    width: 50%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-left: 10%;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #4C8F5A;
    font-size: 14px;
}

td input[type="number"], td input[type="text"] {
    width: 80%;
    padding: 5px;
    text-align: center;
}

thead {
    background-color: #a38bbd;
}

input[readonly] {
    background-color: #f0f0f0;
}

h2 {
    text-align: center;
    color: #4a3c63;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:nth-child(odd) {
    background-color: #fafafa;
}
.criterio{
    font-size:12px;
}
.criterio2{
    font-size: 12px;
}